In [1]:
import pandas as pd
import numpy as np

In [4]:
ser = pd.DataFrame([None, None, 3, 4, None, 10])
ser.ffill()

      0
0   NaN
1   NaN
2   3.0
3   4.0
4   4.0
5  10.0

In [5]:
type([1,2,3,'a'])

list